@import "../../scss/variables";
@import "../../scss/mixins";

.navbar{
    background-image: linear-gradient(225deg, purple, black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 0;

    .links{
        display: flex;
        font-size: 1.7rem;
        justify-content: flex-end;
        gap: 3%;

        a{
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0.5rem;

            &:hover{
                background-color: $secondaryColor;
                border-radius: 10px;
                color: $cardNavBgColor;
            }
        }
    }

    img{
            width: 100px;
            height: 100px;
        }
}

@include media-xsm{
    .links{
        flex-direction: column;
    }
}
@include media-lg{
    .links{
        flex-direction: row;
    }
}
